
@font-face {
  font-family: 'DINPro-Light';
  src: url('./fonts/DINPro-Light.otf')  format('opentype'),
       url('./fonts/DINPro-Light.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Regular';
  src: url('./fonts/DINPro-Regular.otf')  format('opentype'),
       url('./fonts/DINPro-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Medium';
  src: url('./fonts/DINPro-Medium.otf')  format('opentype'),
       url('./fonts/DINPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Bold';
  src: url('./fonts/DINPro-Bold.otf')  format('opentype'),
       url('./fonts/DINPro-Bold.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'DINPro-Light',
  Arial,sans-serif;
  text-rendering:optimizelegibility;
  line-height:1.2em;
}

p {
  font-family:'DINPro-Light';
}

span {
  font-family:'DINPro-Regular';
}

.clear {
  clear: both;
}
/**************************** HEADER SECTION **************************************/

/*.nav>li>a {
  padding: 10px 10px;
}*/

.headroom {
  background-color: #353535;
  height: 102px;
  z-index: 2 !important;
  -webkit-transition: background-color 400ms ease-in-out;
  -ms-transition: background-color 400ms ease-in-out;
  transition: background-color 400ms ease-in-out;
}

.headroom--unfixed {
  background-color: transparent;
}

.headerSection-cover {
  width: 100%;
  height: 95vh;
}

.navbar {
  z-index: 10;
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  color: white;
  padding-top: 30px;
}

.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navBrandImage {
  padding: 0px;
}

.navItem {
  color: white;
  text-transform: uppercase;
  size: 16px;
  font-family:'DINPro-Light';
  letter-spacing: 5px;
}

#video-home {
  position: absolute;
  top: 0;
  width: 100%;
  height: 95vh;
  overflow-y: hidden;
  z-index: -1;
  background: url('./images/video_loading.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#video-home .overlay {
  background: rgba(58,58,83,0.65);
  width: 100%;
  position: absolute;
  top: 0;
  height: 95vh;
}

#video-home .cover {
  width: 100%;
  height: 100%;
  background: url('./images/video_loading.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hiddenCover {
  display: 'none';
}

.video {
  /*width: 100%;*/
  height: 100%;
}

.video-caption-container {
  z-index: 0;
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-caption {

}


.bigHeader {
  font-size: 60px;
  font-family: 'DINPro-Light';
  margin-bottom: 0px;

}
.bigHeader.firstLine {
  margin-top: 20px;
}

.smallHeader {
  font-size: 20px;
  margin-bottom: 0;
}

.smallHeader.firstLine {
  margin-top: 10px
}

.technologies {
  font-size: 16px;
  background: #00c964;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'DINPro-Regular';
}

a.work-with-us-a, a.work-with-us-a:visited{
  color:white;
  text-decoration: none;
}

.work-with-us-a:hover {
  text-decoration: none;
}

.work-with-us {
  border-style: solid;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'DINPro-Regular';
}

.work-with-us:hover {
  color: #3e3e3e;
  background-color: white;
  border-color: white;
  cursor: pointer;
  text-decoration: none;
}

/********************************** HOW WE WORK **********************************/
.hww-container {
  width: 100%;
  height: 95vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hww-container-caption {
  color: grey;
  text-align: center;
  margin-bottom: 50px;
}

.hww-divider {
  height: 1px;
  background-color: grey;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.hww-title {
  font-size: 48px;
}

.hww-subtitle {
  font-size: 20px;
  margin-bottom: 0;
}

.hww-bottom {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.hww-img-container {
  position:relative;
  width: 50%;
  float: left;
  height: 350px;
}
.hww-img {
  cursor: pointer;
  display: block;
  position:absolute;
  width: 350px;
}

.hww-img.fadeimg-enter {
    opacity: 0.01;
}
.hww-img.fadeimg-enter.fadeimg-enter-active {
  opacity: 1.0;
  transition: opacity 1s ease-in;
}
.hww-img.fadeimg-leave {
  /* Completely hide the button while it's being animated and before it's removed from the DOM. */
  /*visibility: hidden;
  height: 0px;
  width: 0px;*/

  /* Starting opacity */
  opacity: 1.0;
}
.hww-img.fadeimg-leave.fadeimg-leave-active {
  /* Ending opacity:
  Trigger opacity change so the "transitionend" event will fire, causing React to remove from the DOM. */
  opacity: 0;
  transition: opacity 1s ease-in;
}

.hww-img-inline {
  cursor: pointer;
  display: block;
  position:absolute;
  width: 250px;
  top: 50px;
  left: 50px;
}

.hww-img-inline.fadeimg-enter {
  opacity: 0.01;
}
.hww-img-inline.fadeimg-enter.fadeimg-enter-active {
  opacity: 1.0;
  transition: opacity 1s ease-in;
}
.hww-img-inline.fadeimg-leave {
  /* Completely hide the button while it's being animated and before it's removed from the DOM. */
  visibility: hidden;
  height: 0px;
  width: 0px;

  /* Starting opacity */
  opacity: 1.0;
}
.hww-img-inline.fadeimg-leave.fadeimg-leave-active {
  /* Ending opacity:
  Trigger opacity change so the "transitionend" event will fire, causing React to remove from the DOM. */
  opacity: 0;
  transition: opacity 1s ease-in;
}

.hww-text {
  width: 50%;
  float: right;
  height: 290px;
  position: relative;
}

.hww-text-inner.fadeimg-enter {
  opacity: 0.01;
}
.hww-text-inner.fadeimg-enter.fadeimg-enter-active {
  opacity: 1.0;
  transition: opacity 1.5s ease-in;
}
.hww-text-inner.fadeimg-leave {
  /* Completely hide the button while it's being animated and before it's removed from the DOM. */
  visibility: hidden;
  height: 0px;
  width: 0px;

  /* Starting opacity */
  opacity: 1.0;
}

.hww-text-inner.fadeimg-leave.fadeimg-leave-active {
  /* Ending opacity:
  Trigger opacity change so the "transitionend" event will fire, causing React to remove from the DOM. */
  opacity: 0;
  transition: opacity 1s ease-in;
}

.process-slider-inside-container {
  height: 350px;
}

.hww-text-title {
  font-family: 'DINPro-Medium';
  margin-bottom: 25px;
}

.hww-text-text {
  font-size: 15px;
  line-height: 1.7;
}

.hww-arrow-container {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.hww-arrow {
  margin: 10px;
  float: left;
}

.hww-arrow-hidden {
  margin: 10px;
  visibility: hidden;
}

/********************************** Portfolio **********************************/
#portfolio-project-title {
  margin-top: 35px;
}

.portfolio-container {
  background-color: #353535;
  padding-top: 50px;
}

.portfolio-projects {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  width: 80vw;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.portfolio-project-container {
  width: 450px;
  height: 100%;
  float: left;
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-right: 25px;
  margin-left: 25px;
  position: relative;
  z-index: 1;
}

.portfolio-project-container-left-element {
  float: right;
}

.p-content {
  position: relative;
}
.p-overlay {
  /*display: none;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.p-content:hover .p-overlay {
  /*display: block;*/
  visibility: visible;
  opacity: 1;
}

.portfolio-img {
  margin: 0px;
  float: left;
  width: 450px;
}

.portfolio-project-name {
    position: absolute;
    top: 400px;
    left: 10px;
    color: white;
    background-color: #00c964;
    padding: 5px;
}

.portfolio-our-work {
  font-size: 62px;
  color: #00c964;
  margin-top: 0px;
}

.portfolio-our-work-sub {
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

.portfolio-client-cont {
  margin-top: 80px;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  /*height: 800px;*/
  padding-bottom: 50px;
  text-align: center;
  color: white;

}

.portfolio-client-list-cont {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.portfolio-client-logo-cont {
  width: 30%;
  float: left;
  padding-bottom: 25px;
  padding-top: 25px;
}
.portfolio-logo-img {
  width: 215px;
}

/******************************** Testimonials ********************************/
.testimonials-container {
  overflow: hidden;
  width: 100%;
  height: 95vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonials-title {
  font-size: 48px;
}

.testimonial-slider-container {
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.testimonial-inside-slider {
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.testimonial-img-circle {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 5px solid #00c964;
  margin-left: auto;
  margin-right: auto;
}

.testimonial-div-image {

  float: left;
  text-align: right;
  padding-right: 40px;
}

.testimonial-div-text {
  width: 55%;
  float: left;
  text-align: left;
  font-size: 18px;
  padding-top: 50px;
  color: black;
}

.testimonial-text {
}

.testimonial-name {
  font-family: 'DINPro-Bold';
}

.testimonial-company {
  font-style: italic;
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.testimonial-dots
{
    position: absolute;
    bottom: -65px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.testimonial-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.testimonial-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.testimonial-dots li button:hover,
.testimonial-dots li button:focus
{
    outline: none;
}
.testimonial-dots li button:hover:before,
.testimonial-dots li button:focus:before
{
    opacity: 1;
}
.testimonial-dots li button:before
{
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.testimonial-dots li.slick-active button:before
{
    opacity: .75;
    color: black; /*SANTI*/
}

/******************************** Team ********************************/
.team-onlyMobile {
  display: none;
}

.team-container {
  width: 100%;
  height: 90vh;
  background: url('./images/bgTeam.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}

.team-caption-container {
  z-index: 0;
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-caption {
    /*position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/
}

.team-bigHeader {
  font-size: 60px;
  font-family: 'DINPro-Bold'
}

.team-smallHeader-first-line {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

.team-smallHeader {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.team-button-container {
  display: flex;
  justify-content: center;
}

a.team-button-a, a.team-button-a:visited{
  color:white;
  text-decoration: none;
}

.team-button {
  font-family:'DINPro-Regular';
    border-style: solid;
    padding: 10px;
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    float: left;
}

.team-button:hover {
  color: #3e3e3e;
  background-color: white;
  border-color: white;
  cursor: pointer;

}

.team-middle-button {
  width: 5%;
  float: left;
  margin-top: 25px;
  font-size: 20px;
}

.t-hiddenClass {
  display: none;
}

/******************************** Contact ********************************/
.contact-container {
  width: 100%;
  height: 100vh;
  background-color: #F0F0F0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container-caption {
  color: grey;
  text-align: center;
  margin-bottom: 50px;
}

.contact-divider {
  height: 1px;
  background-color: grey;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.contact-title {
  font-size: 48px;
  margin-top: 0px;
  padding-top: 20px;

}

.contact-subtitle {
  font-size: 20px;
  margin-bottom: 0;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  width: 430px;
  margin-left: auto;
  margin-right: auto;
}

.contact-name {
  text-align: center;
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-email {
  text-align: center;
  width: 50%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-message {
  padding-top: 60px;
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.contact-input-text {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  border-color: transparent;
}

.contact-textarea {
  width: 100%;
  height: 130px;
  resize: none;
  border-width: 2px;
  padding-left: 10px;
  padding-top: 5px;
  border-color: transparent;
}

.contact-button-container {
  width: 100%;
  padding-right: 10px;
  text-align: right;
  margin-top: 20px;
}

.contact-send-button {
  border:none;
  color: white;
  background-color: #00C964;
  height: 45px;
  text-transform: uppercase;
  width: 75px;
  font-size: 15px;
  font-family: 'DINpro-Medium';
}

.contact-send-button.disabled {
  background-color: grey;
}

.concact-error {
  color: red;
  float: right;
}

.concact-success {
  color: green;
  float: right;
}

/******************** FOOTER ***********************/

.footer-medias-mobile {
  display: none;
}

.footer {
  bottom: 0px;
  width: 100%;

  height: 20px;
  position: absolute;
  padding-bottom: 40px;
  padding-top: 40px;
}

.f-icon-img {
  width: 25px;
  height: 25px;
}
.footer-xseed {
  float: left;
  color: grey;
}
.footer-medias {
  float: right;
}

.separator-line-cont {
  height: 1px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 150px;
}

.separator-line-inner {
  height: 1px;
  width: 80%;
  background: #353535;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9a9999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #9a9999;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #9a9999;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #9a9999;
}


/***************************** Media Querys **********************************/
@media (min-width: 1440px) {
  .hww-bottom {
    width: 50%;
  }


}

@media (min-width: 1380px) {

  .testimonials-container {
    height: 70vh;
  }

  .contact-container {
    height: 70vh;
  }
}

@media (min-width: 1280px) {
  .video {
    width: 100%;
    height: auto;
  }
} 


@media (max-width: 768px) {

  /*.icon-bar {
    visibility: hidden;
  }

  .collapsed>.icon-bar {
    visibility: visible;
  }*/

  .navbar-toggle {
    z-index: 5;
  }

  .navbar-brand {
    z-index: 5;
    position: relative;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;

  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background-color: #00c964;
    top: -30px;
    height: 100vh;
    margin-left: -16px;
    margin-top: -1px;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    position: absolute;
    width: 100vw;
  }

  ul.navbar-nav {
    height: 95vh;
    padding-top: 45%;
    text-align: center;
  }

  .navItem {
    font-size: 20px;
    color: #90e7b2;
    font-family: 'DINPro-Medium';
  }

  .nav>li {
    height: 50px;
  }

  /********* HOME 768 **********/

  #video-home .overlay {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }

  /************* HWW 768 *******************/
  .hww-bottom {
    width: 90%;
  }

  .hww-img-container {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .hww-img {
    position: absolute;
    width: 250px;
  }

  .hww-img-inline {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 190px;
    top: 35px;
    left: 35px;
  }

  /************** PORTFOLIO ******************/

  .portfolio-client-list-cont {
    justify-content: flex-start;
  }

  .portfolio-client-logo-cont {
    width: 50%;
  }

  /************* TESTIMONIALS 768 *******************/
  .testimonial-div-image {
    float: none;
    width: 100%;
    padding-right: 0;
  }

  .testimonial-div-text {
    width: 90%;
    float: none;
    font-size: 10px;
    text-align: center;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial-inside-slider {
    width: 90%;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
  }

  .testimonial-dots {
    bottom: -15px;
  }

  .testimonial-break-line {
    display: none;
  }
}

@media (max-width:480px) {



  /*************************** HEADER SECTION 480 **********************/
  .navbar-brand {
    padding-top: 0;
    padding-left: 30px;
  }

  .video {
    display: none;
  }

  .video-caption {
    margin-top: 0px;
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #video-home .overlay {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0px 0px;
    background-repeat: no-repeat;
  }

  .bigHeader {
    font-size: 45px;
  }

  .smallHeader {
    font-size: 18px;
  }

  .work-with-us {
    font-size: 14px;
    font-family: 'DINPro-bold';
  }

  .hamburger {
    padding-right: 30px !important;
  }

  /********************* HOW WE WORK 480 ************************/
  .hww-caption {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hww-container-caption {
    margin-bottom: 20px;
  }

  .hww-bottom {
    width: 100%;
    text-align: center;
  }

  .hww-img-container {
    width: 161px;
    float: none;
    height: 161px;
    margin-left: auto;
    margin-right: auto;
  }

  .hww-img {
    position: absolute;
    width: 161px;
  }

  .hww-img-inline {
    cursor: pointer;
    display: block;
    position: absolute;
    width: 110px;
    top: 26px;
    left: 26px;
  }

  .hww-text {
    float: none;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 230px;
    margin-top: 30px;
    position: relative;
  }

  .hww-subtitle {
    font-size: 16px;
  }

  .hww-text-title {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .hww-text-text {
    font-size: 14px;

  }

  .hww-arrow-container {
    left: 0;
    right: 0;
  }

  .hww-arrow {
    float: none;
  }

  /******************* PORTFOLIO 480 *********************/

  #portfolio-project-title {
    position: absolute;
    display: block;
    margin-top: -150px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .portfolio-projects {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;

    padding-top: 150px;

    /*-webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    width: 80vw;
    margin-right: auto;
    margin-left: auto;*/
  }

  .portfolio-our-work {
    font-size: 45px;
    margin-top: 20px;
  }

  .portfolio-our-work-sub {
    font-size: 15px;
  }

  .portfolio-project-container {

    margin-top: 15px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  }

  .portfolio-img {
    margin: 0;
    width: 100%;
  }

  .p-overlay {
    visibility: visible;
    opacity: 1;
  }

  .portfolio-project-name {
    left: 15px;
    bottom: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    top: initial;
  }

  .portfolio-client-cont-title {
    font-size: 18px;
  }

  .portfolio-client-logo-cont {
    width: 100%
  }

  .portfolio-logo-img {
    width: 235px;
  }

  /******************* TESTIMONIALS 480  ************/


  .testimonial-img-circle {
    width: 170px;
    height: 170px;
  }

  .testimonial-slider-container {
    margin-top: 25px;
    width: 100%;
  }

  .testimonial-div-text {
    width: 100%;
    font-size: 15px;
    margin-bottom: 20px;
  }

  .testimonial-text, .testimonial-name, .testimonial-company {
    margin-bottom: 5px;
  }



  /******************* TEAM 480 ****************/
  .team-onlyWeb {
    display: none;
  }
  .team-onlyMobile {
    display: block;
  }

  .team-caption {
    top: 0;
    left: 0;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;

    padding-top: 30px;
  }

  .team-bigHeader {
    font-size: 45px;
    margin-bottom: 0px;
  }

  .team-smallHeader {
    font-size: 14px;
  }

  .team-smallHeader-first-line {
    font-size: 14px;
  }

  .team-container {
    background-position: 0px 0px;
  }

  .team-button-container  {
    flex-direction: column;
  }

  .team-button {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    font-size: 12px;
    font-family: 'DINPro-bold';
  }

  .team-middle-button {
    float: none;
    width: auto;
    margin: 0;
    font-size: 14px;
  }

  .t-hiddenClass {
    display: block;
  }

  /***************  CONTACT 480 **************/
  .contact-caption {
    padding-top: 20%;
  }

  .contact-container {
    justify-content: flex-start;
    height: 95vh;
  }


  .contact-container-caption {
    margin-bottom: 20px;
  }

  .contact-form {
    width: 90%;
  }

  .contact-title, .contact-divider {
    display: none;
  }

  .contact-subtitle {
    font-size: 16px;
    width: 95%;
  }

  .contact-name {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }

  .contact-email {
    width: 100%;
    float: none;
    margin-bottom: 15px;
  }

  .contact-input-text {
    width: 80%;
  }

  .contact-message {
    padding-top: 0px;

  }

  .contact-textarea {
    width: 80%;
  }

  .contact-button-container {
    padding-right: 0;
    text-align: center;
  }

  /************* FOOTER 480 ***************/
  .footer-medias {
    display: none;
  }

  .footer-medias-mobile {
    display: block;
  }

  .footer {
    left: 0;
    text-align: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-xseed {
    float: none;
  }

  .footer-medias {
    float: none;
  }

  .footer-media-mobile {
    color: grey;
  }

  a.footer-media-link, a.footer-media-link:visited{
    text-decoration: none;
  }
}
