
.p-header-container {

  width: 100%;
  height: 95vh;
  background-color: white;/*#f0f0f0;*/

}

.p-caption-container {
  position: absolute;
  /*background: url('./images/teamHome_BG.png');*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;

  color: white;
  width: 100%;
  height: 95vh;
  top: 0px;

  display: flex;
	flex-direction: column;
  justify-content: flex-end;
}

.p-caption-container-overlay {
  position: absolute;
  width: 100%;
  height: 95vh;
  top: 0px;
  opacity: 0.5;
  background-color: #353535;
}

.p-caption-subcontainer {
  width: 70%;
  padding-left: 150px;
	height: 70%;
	margin-left: auto;
	margin-right: auto;
  z-index: 1;
}

.p-caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-icon-img {
  width: 80px;
  margin-bottom: 50px;
}

.p-bigHeader {
  font-size: 40px;
  font-family: 'DINPro-Bold';
  margin-bottom: 0px;
}

.p-header-subtitle {
	font-family: 'DINPro-Bold';
	font-size: 12px;
	margin-top: 50px;
	margin-bottom: 20px;
  text-transform: uppercase;
}

.p-description {
  font-size: 18px;
  margin-top: 10px
}

.p-team-content {
  background-color: #f0f0f0;
}

/************* INFO TEXT ***************/

.p-info-text-container {
	width: 70%;
	/*height: 70vh;*/
  padding-top: 100px;
  padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.p-info-text-title-container {
	display: flex;
	align-items: center;
}

.p-info-text-arrow {
  width: 32px;
}

.p-info-text-smallTitle {
	margin: 0;
	text-transform: uppercase;
  font-family: 'DINPro-Bold';
	font-size: 10px;
  padding-left: 10px;
  width: 78px;
}

.p-info-text-title {
	font-family: 'DINPro-Bold';
	margin: 0;
	margin-left: 38px;
	font-size: 40px;
}

.p-info-text-arrow-text {
  display: flex;
  align-items: center;
  text-align: center;
}

.p-info-text-description {
  white-space: pre-wrap;
	margin-left: 150px;
	margin-top: 30px;
  font-family: 'DINPro-Light';
  font-size: 20px;
}

/******************** BIG IMAGE *******************/
.p-big-image-section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.p-big-image-container {
  width: 1920px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -960px;
}

.p-big-image {
  width: 1920px;
  display: block;
  margin: 0 auto;
}

/******************** TWO IMAGES ******************/
.p-big-two-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
  background-color: #f0f0f0;
}

.p-two-image {
  height: 75%;
  margin-left: 25px;
  margin-right: 25px;
}

.p-big-two-image-section-large {
  display: flex;
  justify-content: center;
  align-items: center;
  height: initial;
  overflow-y: hidden;
  background-color: #f0f0f0;
}

.p-two-image-large {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 45%;
}

/**************** VIDEO SECTION **************/

.p-video-section {
  width: 100%;
	height: 100vh;
  overflow: hidden;
}


/**************** NEXT CASE ******************/
.p-next-case-container {
  width: 100%;
	height: 50vh;
  padding-left: 15%;
  padding-right: 15%;
  background-color: #f0f0f0;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.p-next-case-link {
  color: #333333;
  text-decoration: underline;
  font-size: 20px;
}

/**************** FOOTER ****************/
.p-footer-container {
  width: 100%;
	height: 20vh;
  background-color: #00c964;
  position: relative;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width:480px) {

  /********* HEADER 480 **********/
  .p-caption-container, .p-caption-container-overlay {
    height: 90vh;
  }

  .p-caption-subcontainer {
    width: 90%;
    height: 85%;
    padding-left: 0;
  }

  .p-icon-img {
    margin-bottom: 25px;
  }

  .p-bigHeader {
    font-size: 35px;
  }

  .p-header-subtitle {
    margin-top: 25px;
  }

  /************ INFO TEXT 480 **************/
  .p-info-text-container {
    width: 90%;
    height: auto;
    margin-top: 25px;
  }

  .p-info-text-title-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .p-info-text-title {
    margin-left: 0px;
    font-size: 30px;
    margin-top: 10px;
  }

  .p-info-text-description {
    margin-left: 0;
    margin-bottom: 30px;
  }

  /********* BIG IMAGE *********/
  .p-big-image {
    width: auto;
    height: 100vh;
  }

  /********* TWO IMAGE *********/
  .p-big-two-image-section {
    flex-direction: column;
    justify-content: space-between;
    height: 190vh;
  }

  .p-two-image {
    height: 90vh;
  }

  .p-big-two-image-section-large {
    flex-direction: column;
    justify-content: space-between;
  }

  .p-two-image-large {
    margin-top: 25px;
    margin-bottom: 25px;
    max-width: 90%;
  }

  /******** NEXT CASE ***********/
  .p-next-case-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  /******* FOOTER 480 ********/
  .p-footer {
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
  }
}
