/********************* TEAM PAGE *********************/

.tp-header-container {

  width: 100%;
  height: 90vh;
  background-color: #f0f0f0;

}

.tp-caption-container {
  position: absolute;
  background: url('./images/bgteam02.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: no-repeat;

  color: white;
  text-align: center;
  width: 100%;
  height: 90%;
  top: 0px;
}

.tp-caption {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tp-bigHeader {
  font-size: 60px;
  font-family: 'DINPro-Bold';
  margin-bottom: 0px;
  margin-top: 20px;
}

.tp-smallHeader {
  font-size: 18px;
  margin-top: 10px
}

.tp-team-content {
  background-color: #f0f0f0;
}

.flex-container {
  padding: 20px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1450px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.flex-item {
  background: #00c964;

  width: 300px;
  height: 300px;
  margin: 0px;

  color: white;
  font-weight: bold;
  text-align: center;
}

.team-item-container {
  width: 100%;
  height: 100%;
  float: left;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.team-content {
  position: relative;
}
.team-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.team-content:hover .team-overlay {
  visibility: visible;
  opacity: 1;
}

.team-img {
  width: 100%;
  height: 100%;
}

.team-member-badge {
  position: absolute;
  bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  right: auto;
  color: white;
  background-color: rgba(0, 201, 100, 0.70);
  padding: 5px;
  padding-left: 10px;
  width: 90%;
  text-align: left;
}

.team-member-name {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.team-member-role {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.flex-item-cultural{
  width: 600px;
  height: 600px;
  border: 0
}

.flex-item-hiring {
  background-color: #00c964;
}

.flex-item-big{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.flex-item-group{
  display:flex;
  flex-direction:row;
}

.flex-item-group-reverse{
  display:flex;
  flex-direction:row-reverse;
}

.team-item-hiring {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #3d3d3d;
}

.team-text-hiring {
  font-family: 'DINPro-Light';
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-style: italic;
  color: white;
}

.team-text-hiring-button-cont {
  margin-top: 30px;
}

.tp-f-icon-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

a.team-work-with-us-a, a.team-work-with-us-a:visited{
  color:white;
  text-decoration: none;
}

.team-work-with-us-a:hover {
  text-decoration: none;
}

.team-work-with-us {
  border-style: solid;
  border-width: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'DINPro-Regular';
}

.team-work-with-us:hover {
  color: #00c260;
  background-color: white;
  border-color: white;
  cursor: pointer;
  text-decoration: none;
}

.flex-item-social {
  background-color: #f0f0f0;
  width: 300px;
  height: 300px;
}

.team-text-social {
  font-family: 'DINPro-Light';
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  color: #3d3d3d;
}

.team-text-social-links {
  padding-top: 15px;
}

.flex-item-contact {
  background-color: #f0f0f0;
}

.team-text-contact {
  font-family: 'DINPro-Light';
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.team-text-contact-button-cont {
  margin-top: 30px;
}

a.team-contact-a, a.team-contact-a:visited{
  color:#3d3d3d;
  text-decoration: none;
}

.team-contact-a:hover {
  text-decoration: none;
}

.team-contact {
  border-style: solid;
  border-width: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 16px;
  padding-left: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 20px;
  font-family: 'DINPro-Regular';
}

.team-contact:hover {
  color: white;
  background-color: #3d3d3d;
  border-color: white;
  cursor: pointer;
  text-decoration: none;
}

.tp-join-us {
  background-color: #fff;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tp-join-us-image-container {
  position:relative;
  width: 50%;
  float: left;
}

.tp-join-us-img {
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 70px;
  width: 265px;
}

.tp-join-us-text {
  width: 40%;
  float: left;
}

.tp-join-us-title {
  font-size: 48px;
}

.tp-join-us-subtitle {
  font-size: 18px;
  margin-bottom: 0;
}

.tp-join-us-divider {
  height: 1px;
  background-color: grey;
  width: 150px;
  margin-left: 0;
  margin-bottom: 20px;
}

.tp-drop-mail-link {
  text-decoration: none;
  color: #3d3d3d;
}

.tp-drop-mail {
  font-size: 18px;
  font-style: italic;
  text-decoration: underline;
  margin-top: 10px;
}

.tp-contact-container {
  width: 100%;
  height: 95vh;
  background-color: #00c964;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tp-contact-container-caption {
  text-align: center;
  width: 45%;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 60px;
}

.tp-contact-divider {
  height: 1px;
  background-color: grey;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.tp-contact-title {
  font-family:'DINPro-Bold';
  color: white;
  font-size: 48px;
  margin-top: 0px;
  padding-top: 20px;

}

.tp-contact-subtitle {
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

.tp-footer-xseed {
  float: left;
  color: #90e7b2;
}

.tp-contact-button {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .tp-contact-container-caption {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width:480px) {

  .tp-smallHeader {
    font-size: 17px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .flex-container {
    padding-left: 0;
    padding-right: 0;
  }

  .team-overlay {
    visibility: visible;
    opacity: 1;
  }

  .tp-join-us {
    padding-left: 15px;
    padding-right: 15px;
  }

  .tp-join-us-image-container {
    position:relative;
    width: auto;
    float: none;
  }

  .tp-join-us-img {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 190px;
  }

  .tp-join-us-title {
    font-size: 35px;
  }

  .tp-join-us-subtitle, .tp-drop-mail {
    font-size: 14px;
  }

  .tp-join-us-divider {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .tp-join-us-text {
    width: auto;
    float: none;
    text-align: center;
  }

  .tp-contact-container-caption {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
  }

  .tp-footer-xseed {
    float: none;
  }

  .tp-footer-media-mobile {
    color: #90e7b2;
  }

  .tp-footer-medias-mobile {
    color: #90e7b2;
    font-family: 'DINPro-Light';
  }

  .flex-item {
    height: auto;
    width: 100%;
  }



  .team-item-hiring {
    height: 0;
    padding-top: 50%;
    width: 100%;
    padding-bottom: 50%;
  }

  .team-img {
    height: auto;
  }
}
